.tabs-container{
    background-color: #333333;
        text-align: right;
        padding: 1.5rem;

    .tab {
        color: #D6D6D6;
        display: inline;
        margin: 1rem;
        cursor: pointer;

        &:focus{
            outline: none;
        }

        &:hover{
            color: white;
        }

        &.selected{
            color: #A5A5A5;
        }
    }
}