.skills-container{
    color: #333333;
    text-align: center;
    position: absolute;
    left: 25%;
    height: 100%;
    overflow: auto;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;

    @media only screen and (max-width: 500px) {
        position: relative;
        left: 0;
    }

    .subheader {
        padding: 1rem;
        font-size: 32px;
    }

    ul {
        padding-top: 1rem;
        padding-left: 0;
        margin: 0;

        li{
            list-style: none;
            padding: .5rem;
            font-size: 21px;
        }
    }
    
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}