.skills-container{
    color: #D6D6D6;
    text-align: center;

    ul {
        padding-left: 0;

        li{
            list-style: none;
            padding: .5rem;
            font-size: 21px;
        }
    }
    
}