<div class="resume-container">
    <div class="subheader">Resume</div>

    <div class="links-container">
        <a class="link" target="_blank" href="https://github.com/ryanmundy"><img class="link"
                src="../../assets/images/GitHub_Logo.png" /></a>
        <a class="link" target="_blank" href="https://www.linkedin.com/in/ryan-mundy-4b147b88/"><img class="link"
                src="../../assets/images/Logo-Black-48px-R.png" /></a>
    </div>

    <div class="education-container">
        <div class="education-header">Education</div>

        <div class="education-subheader">Prime Digital Academy</div>
        <div class="education-content">Full Stack Software Engineering Certification, 2019</div>

        <div class="education-subheader">Hamline University</div>
        <div class="education-content">Bachelor of Arts, Criminal Justice, 2013</div>
    </div>

    <div class="experience-container">

        <div class="experience-header">Experience</div>

        <p-accordion>
            <p-accordionTab header="Software Engineer, Design Interactive (2019 - Present)">
                Content 1
            </p-accordionTab>
            <p-accordionTab header="Student, Prime Digital Academy (2018 - 2019)">
                Content 2
            </p-accordionTab>
            <p-accordionTab header="Probation Officer, Ramsey County Community Corrections (2017 - 2018)">
                Content 3
            </p-accordionTab>
            <p-accordionTab header="Correctional Officer II, Ramsey County Community Corrections (2014 - 2019)">
                Content 4
            </p-accordionTab>
            <p-accordionTab header="Shift Leader, Culver's (2008 - 2015)">
                Content 4
            </p-accordionTab>
        </p-accordion>
    </div>
</div>