/* You can add global styles to this file, and also import other style files */
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    overflow: hidden;
    position: fixed;
    background-color: #000000;
    margin: 0;
}


 .p-accordion-header-link {
    border: none !important;
    background: transparent !important;
}

.p-accordion-content {
    background: transparent !important;
    border: none !important;
}



.p-accordion-header-link:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none !important;
}